score-circle {
  .vote-circle-wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;

    .vote-value {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      text-align: center;
      width: 100%;
      z-index: 1;
    }
  }
}
