page-pin-account-confirm {
  .red-background {
    background-color: map_get($colors, danger);
  }

  ion-title {
    padding: 0 0 !important;
    .modal-title {
      color: white;
      text-align: left;
    }
  }
  .pin-modal-wrapper {
    display: flex;
    flex-direction: column;
    height:100%;
  }

  .modal-text {
    font-size: 1.5rem;
  }

  .send-again-text {
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }

  ion-footer {
    button {
      font-size: 15px;
      width: 100%;
      letter-spacing: 1px;
      color: white !important;
    }
  }
}
