picture-setting-card {
  display: inline-block;
  ion-card {
    height: 220px !important;
    width: 150px !important;
    margin-right: 6px !important;
    border-radius: 20px !important;

    img {
      height: 275px;
      overflow: hidden;
      object-fit: cover;
    }
  }

  .no-picture-card {
    ion-icon {
      font-size: 8rem;
      color: gray;
    }
    background-color: lightgray;
  }
}
