<ion-header>
  <ion-navbar>
    <ion-title>Edit your data</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form *ngIf="userDataForm" [formGroup]="userDataForm">
    <div padding>
      <ion-item no-padding>
        <ion-label stacked>Username</ion-label>
        <ion-input type="text" formControlName="username">
        </ion-input>
      </ion-item>

      <ion-row radio-group formControlName="sex">
        <ion-label stacked class="label-form">Gender</ion-label>
        <ion-item no-padding>
          <ion-label><ion-icon name="md-male" padding-right></ion-icon>Male</ion-label>
          <ion-radio color="hot" value="MALE"></ion-radio>
        </ion-item>
        <ion-item no-padding>
          <ion-label><ion-icon name="md-female" padding-right></ion-icon>Female</ion-label>
          <ion-radio color="hot" value="FEMALE"></ion-radio>
        </ion-item>
      </ion-row>

      <ion-label stacked class="label-form">Birthday</ion-label>

      <ion-item no-padding>
        <div class="date-input-value">
          <div tappable (click)="showDatePicker()">
            {{userDataCopy.dateOfBirth | date: 'dd MMMM yyyy'}}
          </div>
        </div>
      </ion-item>
    </div>

    <div class="button-wrapper">
      <button ion-button class="red-gradient" (click)="saveChanges()" *ngIf="!isSaving" [disabled]="!userDataForm.dirty">Save changes</button>
      <ion-spinner name="dots" class="spinnerCenter" *ngIf="isSaving" color="hot"></ion-spinner>
    </div>
  </form>
</ion-content>
