page-edit-profile {
  .toolbar-background {
    @extend .red-gradient;
  }

  .toolbar-title {
    color: white !important;
  }

  .date-input-value {
    font-size: 1.6rem;
  }

  .label-form {
    font-size: 1.2rem;
    color: #999
  }

  .button-wrapper {
    margin-left: 12px;
    margin-right: 12px;

    button {
      border-radius: 10px;
    }
  }
}
