<ion-row>
  <ion-col></ion-col>
  <ion-col>
    <div class="vote-circle-wrapper">
      <round-progress
        [current]="voteValue"
        [max]="10"
        [color]="resolveCircleColor()"
        [background]="'#eaeaea'"
        [rounded]="true"
        [responsive]="true"
        [duration]="800"
        [animation]="'easeInOutQuart'"
        [animationDelay]="0">
      </round-progress>
      <div class="vote-value">{{voteValue | number : '1.1-1'}}</div>
    </div>
  </ion-col>
  <ion-col></ion-col>
</ion-row>

<ion-row no-padding>
  <ion-col></ion-col>
  <ion-col col-12 no-margin no-padding class="range-wrapper">
    <ion-range mode="md" min="0" max="100" step="1" [(ngModel)]="10*voteValue" (ngModelChange)="voteValue=$event/10"
               (ionBlur)="dupa()">
    </ion-range>
    <ion-icon name="md-snow" id="snowIcon" color="cold"></ion-icon>
    <ion-icon name="md-flame" id="fireIcon" color="hot"></ion-icon>
  </ion-col>
  <ion-col></ion-col>
</ion-row>




