<div style="height:100%; overflow: hidden">
  <ion-row>
    <ion-col class="center-column-content">
      <ion-icon
        name="md-snow"
        color="cold"
        id="coldIcon"
        [ngClass]="{'wiggle-anim': voteValue <= 4.9}"
        [style.font-size]="getColdIconSizeValueStyle(voteValue)">
      </ion-icon>
    </ion-col>
    <ion-col>
      <score-circle [currentValue]="voteValue"></score-circle>
    </ion-col>
    <ion-col class="center-column-content">
      <ion-icon
        name="md-flame"
        color="hot"
        id="hotIcon"
        [ngClass]="{'wiggle-anim': voteValue >= 5.1}"
        [style.font-size]="getHotIconSizeValueStyle(voteValue)">
      </ion-icon>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 5px">
    <ion-col></ion-col>
    <ion-col col-12 no-margin no-padding class="range-wrapper">
      <ion-range mode="md" min="0" max="100" step="1"
                 [(ngModel)]="10*voteValue"
                 (ngModelChange)="sliderChanged($event)"
                 (ionBlur)="onVoteSubmitted()">
      </ion-range>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</div>



