page-voting {
  .toolbar-background {
    @extend .red-gradient
  }

  .person-card-container {
    height: calc(100vh - 56px - 150px - 50px); //person card should be full screen minus the bar, minus the voteslider and minus some space
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px
  }

  .vote-slider-container {
    height: 150px;
    width: 100%;
    position: fixed;
    bottom: 20px;
  }

  .summary-page {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    z-index: 2;
  }

  .people-loading-container {
    margin-top: 120px;
  }

  .guest-vote-exceeded-container {
    height: 100%;
  }
}
