<ion-header no-border>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="openSettings()">
        <ion-icon name="md-settings" color="light"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title mode="ios">
      <img style="display:inline-block; vertical-align:middle;" height="25px" src="assets/imgs/logo_white_yellow.png"/>
      <div
        style="display:inline-block; vertical-align:middle; padding-left: 5px; color: white; font-weight: normal; letter-spacing: 1px">
        hot<b>chilli</b></div>
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon name="md-trophy" color="light"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <div *ngIf="!guestVoteLimitExceeded">
    <div [hidden]="isLoadingPeople">
      <div class="summary-page" (click)="summaryPageClicked()" *ngIf="votePlaced">
        <summary
          [person]="currentPerson"
          [usersVote]="currentVoteValue">
        </summary>
      </div>

      <div class="person-card-container">
        <person-card [person]="currentPerson"></person-card>
      </div>

      <div class="vote-slider-container">
        <vote-slider (voteSubmitted)="submitVote($event)"></vote-slider>
      </div>
    </div>
    <div [hidden]="!isLoadingPeople" class="people-loading-container">
      <people-loading></people-loading>
    </div>
  </div>
  <div *ngIf="guestVoteLimitExceeded" class="guest-vote-exceeded-container">
    <guest-vote-exceeded></guest-vote-exceeded>
  </div>
</ion-content>
