summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  color: white;

  .full-width {
    width: 100%;
  }

  .person-name {
    font-size: 3.5rem;
  }

  .person-age {
    font-size: 2.5rem;
  }

  .vote-count-info {
    font-size: 2.5rem;
  }

  .your-vote-info {
    font-size: 2.5rem;
  }

  .tap-to-continue-info {
    animation: pulse 1200ms infinite;
    position: fixed;
    bottom: 30px;
    left:0;
    font-size: 2rem;
  }

  .vote-circle-wrapper {
    max-width: 150px;

    .vote-value {
      font-size: 3rem;
      color: white;
    }
  }

  @-webkit-keyframes pulse {
    0% { opacity: 0.4; }
    20% { opacity: 0.6; }
    40% { opacity: 0.8 }
    50% { opacity: 1 }
    60% { opacity: 0.8 }
    80% { opacity: 0.6 }
    100% { opacity: 0.4; }
  }
}
