<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="userService.isLoggedIn">
    <ion-row margin-top>
      <ion-col class="center-column-content" col-12 tappable>
        <div class="picture-and-score-wrapper">
          <div class="bordered-picture profile-picture-container">
            <img class="profile-picture-fill"
                 *ngIf="userData && userData.pictures[0]"
                 [src]="userData.pictures[0].url">
            <img *ngIf="!userData || !userData.pictures[0]"
                 class="profile-picture-fill"
                 src="assets/imgs/user-pic-placeholder.png"/>
          </div>
          <score-circle
            class="score-circle-info"
            [currentValue]="userData.averageRating"></score-circle>
        </div>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col text-center>
        <div *ngIf="userData" class="user-name">{{userData.username}}</div>
      </ion-col>
    </ion-row>

    <div class="voting-stat-info" margin-bottom>
      <ion-row *ngIf="userData">
        <ion-col col-6 text-left no-padding>
          <div>Your rating:</div>
        </ion-col>
        <ion-col col-6 text-right no-padding>
          <div>{{userData.averageRating | number : '1.1-1'}}</div>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="userData">
        <ion-col col-6 text-left no-padding>
          <div>Number of votes:</div>
        </ion-col>
        <ion-col col-6 text-right no-padding>
          <div>{{userData.voteCount}}</div>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div *ngIf="!userService.isLoggedIn">
    <ion-row margin-top>
      <ion-col class="center-column-content" col-4 tappable>
        <div class="bordered-picture" style="width: 80px;height: 80px; border-radius: 50%; overflow: hidden;">
          <img class="profile-picture-fill"
               src="assets/imgs/user-pic-placeholder.png"/>
        </div>
      </ion-col>
      <ion-col style="display: flex; align-items: center">
        <h5 text-center no-margin>You are not logged in</h5>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <div style="font-size: 1.7rem" padding-horizontal>You are using Hot Chilli as a guest. If you want to enjoy
          rating without any limits, log in to the application. It is 100% free.
        </div>
      </ion-col>
    </ion-row>
    <ion-row margin-top>
      <ion-col></ion-col>
      <ion-col col-8>
        <button ion-button class="red-gradient login-button" round (click)="navCtrl.push('LoginPage')">Login for free
        </button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </div>

  <hr>

  <ion-list mode="ios" no-lines>
    <ion-item>
      <h2 style="margin-bottom: 5px">Display options:</h2>
      <ion-segment mode="ios" color="hot" [(ngModel)]="pet">
        <ion-segment-button value="ALL">
          All
        </ion-segment-button>
        <ion-segment-button value="MEN">
          Men
        </ion-segment-button>
        <ion-segment-button value="WOMEN">
          Women
        </ion-segment-button>
      </ion-segment>
    </ion-item>

    <div *ngIf="userService.isLoggedIn">
      <hr>

      <ion-item>
        <ion-label>
          <h2>Enable push notifications</h2>
          <p text-wrap>When enabled you will be receiving notifications</p>
        </ion-label>
        <ion-toggle color="hot"></ion-toggle>
      </ion-item>

      <hr>

      <ion-item tappable (click)="logout()">
        <ion-label>
          <h2>Edit profile</h2>
        </ion-label>
      </ion-item>
    </div>

    <hr>

    <ion-item>
      <ion-label>
        <h2>Privacy policy</h2>
        <p text-wrap>Tap to see our privacy policy and terms of use</p>
      </ion-label>
    </ion-item>

    <div *ngIf="userService.isLoggedIn">
      <hr>
      <ion-item tappable (click)="logout()">
        <ion-label>
          <h2>Logout</h2>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
