<ion-header>
  <ion-navbar>
    <ion-title>Manage your profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h5 padding-left>Your pictures: </h5>

  <ion-scroll scrollX="true" class="picture-scroller">
    <picture-setting-card *ngFor="let picture of userService.userData.pictures" [pictureUrl]="picture.url"
                          (click)="showPictureOptions(picture)"></picture-setting-card>
    <picture-setting-card (click)="addPicture()" *ngIf="userService.userData.pictures.length < 4"></picture-setting-card>
  </ion-scroll>
  <div class="button-wrapper">
    <button ion-button outline color="hot" (click)="addPicture()">Add picture</button>
  </div>

  <h5 padding-left padding-top>Basic information: </h5>
  <h6 padding-left class="basic-info"> {{userService.userData.username}}, {{userService.userData.age}} years old, {{userService.userData.gender}}</h6>
  <div class="button-wrapper">
    <button ion-button color="hot" (click)="navCtrl.push('EditProfilePage')">Edit profile information</button>
  </div>
</ion-content>
