page-manage-profile {
  .toolbar-background {
    @extend .red-gradient;
  }

  .toolbar-title {
    color: white !important;
  }
  .picture-scroller {
    white-space: nowrap;
    height: 250px;
  }

  .basic-info {
    font-weight: normal;
  }

  .edit-icon {
    margin-top: 1.6rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: gray
  }

  .info-title {
    color: gray;
  }

  .button-wrapper {
    margin-left: 12px;
    margin-right: 12px;

    button {
      border-radius: 10px;
    }
  }
}
