person-card {
  ion-card {
    width: 100% !important;
    margin: 0 !important;
    height: 100%;
    position: relative;

    ion-slides {
      height: calc(100% - 50px);
      background-color: map_get($colors, light);
    }

    .pictureCounter {
      position: absolute;
      top: 20px;
      right: 20px;
      color: white;
      background: rgba(0, 0, 0, 0.6);
      z-index: 2;
      height: 25px;
      width: 35px;
      border-radius: 12.5px;
    }

    img {
      overflow: hidden;
      object-fit: cover;
      height: calc(100% - 50px)
    }

    ion-card-content {
      height: 50px;
      padding-top: 5px !important;
      padding-bottom: 5px !important;
      font-size: 1.9rem !important;
      font-weight: lighter;
      letter-spacing: 1px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
