<ion-card *ngIf="person">
  <div class="pictureCounter center-column-content">
    {{pictureSlider.realIndex + 1}}/{{person.pictures.length}}
  </div>
  <ion-slides #pictureSlider [spaceBetween]="10">
    <ion-slide *ngFor="let picture of person.pictures">
      <picture-async [pictureUrl]="picture.url" tappable (click)="openFullScreen()"></picture-async>
    </ion-slide>
  </ion-slides>
  <ion-card-content>
    <div>
      {{person.username}}, {{person.age}}
    </div>
  </ion-card-content>
</ion-card>
